In [20]:
import pandas as pd
import numpy as np
res_data=pd.read_csv('cairo_restaurants.csv')

In [21]:
res_data.rename(columns={'cid':'uuid'}, inplace=True)

In [22]:
res_data['uuid'].head()

0    0x1459a10022210537:0x63cd3dbc915ff5f1
1    0x1459a17425175d57:0xfb4eac35f1f2d9d0
2    0x14599f3a3857e58d:0xc4d7abc2b5af6398
3    0x145840cdc805fb67:0x4d7be0ca74c508d5
4    0x14583e0e3b267ee3:0x4b7ea6c1067ccbcd
Name: uuid, dtype: object

In [23]:
res_data.columns

Index(['uuid', 'poi_name', 'website', 'lat', 'lng', 'price_range_icons',
       'reviews_no', 'price_range', 'tags', 'hours', 'photos', 'phone',
       'reservations', 'online_visibility', 'address_text', 'is_closed',
       'country', 'traffic', 'kwrd'],
      dtype='object')

In [24]:
import hashlib

def hash_id(id_value):
    # Convert to string and encode to bytes
    id_bytes = str(id_value).encode('utf-8')
    # Generate SHA-256 hash
    hash_object = hashlib.sha256(id_bytes)
    # Return the hex digest
    return hash_object.hexdigest()

# Example usage
id_to_hash = "63e88e53-0a88-416e-9532-fa06f703d435"
hashed_id = hash_id(id_to_hash)
print("Hashed ID:", hashed_id)

Hashed ID: 2a786a97b8676d232e395750b3b61a068c4c0a0c33d287a421a56c65b421e6c9

In [25]:
res_data['uuid']=[hash_id(x) for x in res_data['uuid']]

In [26]:
res_data.columns

Index(['uuid', 'poi_name', 'website', 'lat', 'lng', 'price_range_icons',
       'reviews_no', 'price_range', 'tags', 'hours', 'photos', 'phone',
       'reservations', 'online_visibility', 'address_text', 'is_closed',
       'country', 'traffic', 'kwrd'],
      dtype='object')

In [27]:
nan_ratio_percent = res_data.isna().sum()/len(res_data)*100
nan_ratio_percent

uuid                   0.000000
poi_name               0.000000
website               79.920659
lat                    0.000000
lng                    0.000000
price_range_icons     86.359475
reviews_no            16.783644
price_range           86.359475
tags                   0.000000
hours                 37.473299
photos                28.288068
phone                 30.698810
reservations          98.138541
online_visibility    100.000000
address_text           0.000000
is_closed            100.000000
country                0.000000
traffic              100.000000
kwrd                   0.000000
dtype: float64

In [28]:
res_data=res_data[['uuid','poi_name','lat', 'lng','reviews_no','price_range']]

In [29]:
res_data['category']='Restaurant'

In [30]:
res_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3277 entries, 0 to 3276
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uuid         3277 non-null   object
 1   poi_name     3277 non-null   object
 2   lat          3277 non-null   float64
 3   lng          3277 non-null   float64
 4   reviews_no   2727 non-null   float64
 5   price_range  447 non-null    object
 6   category     3277 non-null   object
dtypes: float64(3), object(4)
memory usage: 179.3+ KB

In [31]:
res_data['price_range'].unique()

array([nan, 'Moderately expensive', 'Very expensive', 'Expensive',
       'Inexpensive'], dtype=object)

In [32]:
res_data.to_csv('cairo_restaurants_cleaned.csv',index=False)

In [33]:
res_data

,uuid,poi_name,lat,lng,reviews_no,price_range,category
0,dca9674273a7576fe3efa7e28e5c7813eb40265f373fa7...,Sultan Restaurant,29.540509,30.979346,1.0,NaN,Restaurant
1,91ac51e8b236ac6a7f2c29edd6410d9c7624f68afb99e4...,مطعم ع الصاج,29.539746,30.979202,2.0,NaN,Restaurant
2,0435bc894e39696721517dd09f57b50fcac55cd722c42a...,The Kingdom,29.474958,30.956272,2.0,NaN,Restaurant
3,b036aed74f2817565e5b9756934a6cfa1cc07dbaf48301...,The Blue Restaurant & Grill,30.038682,31.230666,123.0,Moderately expensive,Restaurant
4,02012bb610a4894823397de81018f5c02d13c3e5b27021...,Windows Restaurant,30.074187,31.343988,719.0,NaN,Restaurant
...,...,...,...,...,...,...,...
3272,f00328f83937d1391018926d777c46b62855eb6f2cbea4...,Rosto - مطعم روستو,29.928564,30.918819,169.0,Moderately expensive,Restaurant
3273,f742bdf27a07f2df36f2af695a84e2e9d1d24d0ef15616...,اسواق يوسف وعلي للطيور والاسماك,29.919669,30.932904,11.0,NaN,Restaurant
3274,d25e709539af1e35ed718ca952752c1c20d930dbd370bf...,مطعم ابوعبدو,29.919301,30.944628,19.0,NaN,Restaurant
3275,156d87d9e7305d6eabf515ed315af57391ed485b11fd43...,مطعم وكافية الحوت حدائق اكتوبر,29.920757,31.054685,84.0,NaN,Restaurant
3276,12ccad0aef7ee6c4cb6de4dbe9f664f4e19047d31e4271...,اكتوبر الحي الاطلي,29.912976,31.058416,2.0,NaN,Restaurant

In [38]:
from sqlalchemy import create_engine, inspect
import pandas as pd



SQLALCHEMY_DATABASE_URL = 'postgresql://postgres:postgres@localhost:5432/postgres'

# Create SQLAlchemy engine
engine = create_engine(SQLALCHEMY_DATABASE_URL)

# Create inspector to introspect database
inspector = inspect(engine)

# Get list of all table names
table_names = inspector.get_table_names()

# Read each table into a DataFrame
tables = {}
for table_name in table_names:
    try:
        df = pd.read_sql_table(table_name, con=engine)
        tables[table_name] = df
        print(f"Loaded table: {table_name} ({len(df)} rows)")
    except Exception as e:
        print(f"Failed to load table {table_name}: {e}")

Loaded table: places (3277 rows)
Loaded table: users (0 rows)
Loaded table: tovisits (0 rows)
Loaded table: visited_places (0 rows)

In [35]:
from sqlalchemy import create_engine, inspect
import pandas as pd

SQLALCHEMY_DATABASE_URL = 'postgresql://postgres:postgres@localhost:5432/postgres'

# Create SQLAlchemy engine
engine = create_engine(SQLALCHEMY_DATABASE_URL)

# Create inspector to introspect database
inspector = inspect(engine)

# Print columns for a specific table: 'places'
table_name = 'places'
try:
    columns = inspector.get_columns(table_name)
    print(f"Columns in table '{table_name}':")
    for col in columns:
        print(f"- {col['name']} ({col['type']})")
except Exception as e:
    print(f"Failed to inspect table '{table_name}': {e}")

# (Optional) Load the table into a DataFrame
try:
    df = pd.read_sql_table(table_name, con=engine)
    print(f"\nLoaded table: {table_name} ({len(df)} rows)")
except Exception as e:
    print(f"Failed to load table {table_name}: {e}")

Columns in table 'places':
- uuid (VARCHAR)
- poi_name (VARCHAR)
- lat (DOUBLE PRECISION)
- lng (DOUBLE PRECISION)
- reviews_no (DOUBLE PRECISION)
- price_range (VARCHAR)
- category (TEXT)

Loaded table: places (0 rows)

In [ ]:
# Insert DataFrame into PostgreSQL table
res_data.to_sql("places", con=engine, if_exists='append', index=False)

print(f"Inserted {len(res_data)} rows into '{table_name}' table.")

Inserted 0 rows into 'places' table.

In [37]:
res_data

,uuid,poi_name,lat,lng,reviews_no,price_range,category
0,dca9674273a7576fe3efa7e28e5c7813eb40265f373fa7...,Sultan Restaurant,29.540509,30.979346,1.0,NaN,Restaurant
1,91ac51e8b236ac6a7f2c29edd6410d9c7624f68afb99e4...,مطعم ع الصاج,29.539746,30.979202,2.0,NaN,Restaurant
2,0435bc894e39696721517dd09f57b50fcac55cd722c42a...,The Kingdom,29.474958,30.956272,2.0,NaN,Restaurant
3,b036aed74f2817565e5b9756934a6cfa1cc07dbaf48301...,The Blue Restaurant & Grill,30.038682,31.230666,123.0,Moderately expensive,Restaurant
4,02012bb610a4894823397de81018f5c02d13c3e5b27021...,Windows Restaurant,30.074187,31.343988,719.0,NaN,Restaurant
...,...,...,...,...,...,...,...
3272,f00328f83937d1391018926d777c46b62855eb6f2cbea4...,Rosto - مطعم روستو,29.928564,30.918819,169.0,Moderately expensive,Restaurant
3273,f742bdf27a07f2df36f2af695a84e2e9d1d24d0ef15616...,اسواق يوسف وعلي للطيور والاسماك,29.919669,30.932904,11.0,NaN,Restaurant
3274,d25e709539af1e35ed718ca952752c1c20d930dbd370bf...,مطعم ابوعبدو,29.919301,30.944628,19.0,NaN,Restaurant
3275,156d87d9e7305d6eabf515ed315af57391ed485b11fd43...,مطعم وكافية الحوت حدائق اكتوبر,29.920757,31.054685,84.0,NaN,Restaurant
3276,12ccad0aef7ee6c4cb6de4dbe9f664f4e19047d31e4271...,اكتوبر الحي الاطلي,29.912976,31.058416,2.0,NaN,Restaurant

In [39]:
from sqlalchemy import create_engine, inspect
import pandas as pd

SQLALCHEMY_DATABASE_URL = 'postgresql://postgres:postgres@localhost:5432/postgres'

# Create SQLAlchemy engine
engine = create_engine(SQLALCHEMY_DATABASE_URL)

# Create inspector to introspect database
inspector = inspect(engine)

# Print columns for a specific table: 'places'
table_name = 'places'
try:
    columns = inspector.get_columns(table_name)
    print(f"Columns in table '{table_name}':")
    for col in columns:
        print(f"- {col['name']} ({col['type']})")
except Exception as e:
    print(f"Failed to inspect table '{table_name}': {e}")

# (Optional) Load the table into a DataFrame
try:
    df = pd.read_sql_table(table_name, con=engine)
    print(f"\nLoaded table: {table_name} ({len(df)} rows)")

    # Show the first few rows of the DataFrame (default is 5 rows)
    print("\nFirst few rows of the table:")
    print(df.head())  # Adjust the number inside head() if needed, e.g., df.head(10) for the first 10 rows

except Exception as e:
    print(f"Failed to load table {table_name}: {e}")

Columns in table 'places':
- uuid (VARCHAR)
- poi_name (VARCHAR)
- lat (DOUBLE PRECISION)
- lng (DOUBLE PRECISION)
- reviews_no (DOUBLE PRECISION)
- price_range (VARCHAR)
- category (TEXT)

Loaded table: places (3277 rows)

First few rows of the table:
                                                uuid  \
0  dca9674273a7576fe3efa7e28e5c7813eb40265f373fa7...
1  91ac51e8b236ac6a7f2c29edd6410d9c7624f68afb99e4...
2  0435bc894e39696721517dd09f57b50fcac55cd722c42a...
3  b036aed74f2817565e5b9756934a6cfa1cc07dbaf48301...
4  02012bb610a4894823397de81018f5c02d13c3e5b27021...

                      poi_name        lat        lng  reviews_no  \
0            Sultan Restaurant  29.540509  30.979346         1.0
1                 مطعم ع الصاج  29.539746  30.979202         2.0
2                  The Kingdom  29.474958  30.956272         2.0
3  The Blue Restaurant & Grill  30.038682  31.230666       123.0
4           Windows Restaurant  30.074187  31.343988       719.0

            price_range    category
0                  None  Restaurant
1                  None  Restaurant
2                  None  Restaurant
3  Moderately expensive  Restaurant
4                  None  Restaurant